{% extends 'pokeviocApp/base.html' %}
{% load static %}
{% block content %}
 
<div class="body-content hero_1">
    <div class="hcontenu_1">
        <div class="paragraphe_1">
            <h1>Une résidence aux petits soins pour vos Pokévioc !</h1>
        </div>
        <div class="paragraphe_2">
            <div class="text">Vous pouvez poser jusqu’à 6 Pokévioc</div>
            <div class="text">Service gratuit !</div>
        </div>
        <div class="paragraphe_3">
            <a href="#"><div class="button">
                <div class="text">Trouver un centre Pokévioc</div>
            </div></a>
            
        </div>
    </div>
    <div class="hcontenu_2">
        <img class="img_hero" src="{% static 'media/hero/img_hero_1.svg' %}" />
    </div>
</div>

<div class="hero_2">
    <div class="content">
        <div>
            <img class="img_hero_21" src="{% static 'media/hero/img_hero_21.png' %}" />
        </div>
        <div class="part_2">
            <div>
                <h2>Nouveau Vioc ?</h2>
            </div>
            <div>
                <p>Remplissez le formulaire de contact pour commencer à laisser vos Pokévioc !</p>
            </div>
            <div class="paragraphe_3">
                <a href="#">
                    <div class="button">
                        <div class="text">Contact</div>
                    </div>
                </a>
            </div>
        </div>
        <div>
            <img class="img_hero_22"  src="{% static 'media/hero/img_hero_22.png' %}" />
        </div>
    </div>
</div>

<div class="body-content hero_3">
    <div class="paragraphe_1">
        <h3>Nos différents services</h3>
    </div>
    <div class="paragraphe_2">
        <a href="#">
            <div class="content" style="background: url({% static 'media/service/pokemon-center.png' %}), lightgray 50% / cover no-repeat;">
                <div class="text">
                    <div class="text_1">CENTRE POKÉVIOC</div>
                    <div class="text_2">Un établissement pensé pour les soins.</div>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="content" style="background: url({% static 'media/service/saumon.png' %}), lightgray 50% / cover no-repeat;">
                <div class="text">
                    <div class="text_1">NOURRITURE HAUT DE GAMME</div>
                    <div class="text_2">Des poissons frais de nos régions !</div>
                </div>
            </div>
        </a>
    </div>
    <div class="paragraphe_3"></div>
    <div class="paragraphe_4"></div>
</div>
<p>An enterprise, here to propose you severals events</p>

<h2>Choices</h2>
<p>A large choice of events that you can choose</p>

<h2>Easy to use</h2>
<p>You can join our events with one click</p>

{% endblock %}