{% extends "pokeviocApp/base.html" %}
{% load static %}
{% block content %}
<div class="service">
    <div class="body-content service_in">
        <div class="paragraphe_1">
            <h3>Nos différents services</h3>
        </div>
        <div class="paragraphe_2">
            {% if services.count != 0 %}
                {% for service in services %}
                    <div class="content" style="background: url({% static 'media/' %}{{service.image}}), lightgray 50% / cover no-repeat;">
                        <div class="text">
                            <div class="text_1">{{ service.title }} | {{ service.price }} $</div>
                            <div class="text_2">{{ service.content }}</div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                    <p>Aucun service trouvé.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}